# Créez un fichier .gitignore dans votre dossier projet avec ce contenu
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.DS_Store

# Dossiers spécifiques au projet
data/
checkpoints/
*.pth
*.pt
*.onnx

# Environnements virtuels
venv/
env/
.env/